@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .app-grid{
        display: grid;
        grid-template-rows: minmax(100px, 100px) auto minmax(50px, 80px);
        place-content: center;
        place-items: center;
    }
    .board-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .table-row{
        display: flex;
        justify-content: space-between;
    }
    td,th{
        padding: 20px;
    }
}